{{ define "header" }}
<header>
  <a href="/">⏎ back home</a>
</header>
{{ end }}

{{ define "main" }}
<article>
  <h1 class="article-title">{{ if eq .Params.postType "reading" }}{{ .Params.readingTitle }}{{ else }}{{ .Title }}{{ end }}</h1>
  <div class="article-metadata">
    <span class="post-tag post-tag-{{ .Params.postType }}">{{ if eq .Params.postType "project" }}Project{{ else if eq .Params.postType "reading" }}Reading{{ else }}Writing{{ end }}</span>
    <span class="article-date">{{ .Params.dateDisplay }}</span>
    {{ if eq .Params.postType "reading" }}
    <div class="article-source">
      Notes on
      {{- if .Params.readingUrl }} <a href="{{ .Params.readingUrl }}">{{ .Params.readingTitle }}</a>
      {{- else }} {{ .Params.readingTitle }}
      {{- end -}}
      {{- if .Params.readingAuthor }} by {{ .Params.readingAuthor }}{{ end -}}
      {{- if .Params.readingPublishedDate }} ({{ .Params.readingPublishedDate }}){{ end }}
    </div>
    {{ end }}
  </div>
  {{ if .TableOfContents | findRE "<li>" }}
  <details class="article-toc">
    <summary>Table of contents</summary>
    {{ .TableOfContents }}
  </details>
  {{ end }}
  {{ .Content }}
</article>
{{ end }}
