{{ define "header" }}
<header>
  <a href="/">⏎ back home</a>
</header>
{{ end }}

{{ define "main" }}
<article{{ if eq .Params.postType "reading" }} class="reading-page"{{ end }}>
  {{ if eq .Params.postType "reading" }}
  <h1 class="article-title">{{ .Params.readingTitle }}</h1>
  <div class="article-metadata">
    Reading notes on
    {{- if .Params.readingUrl }} <a href="{{ .Params.readingUrl }}">{{ .Params.readingTitle }}</a>
    {{- else }} {{ .Params.readingTitle }}
    {{- end -}}
    {{- if .Params.readingAuthor }} by {{ .Params.readingAuthor }}{{ end -}}
    {{- if .Params.readingPublishedDate }} ({{ .Params.readingPublishedDate }}){{ end }}<br>
    Read on: {{ .Params.dateDisplay }}
  </div>
  {{ else }}
  <h1 class="article-title">{{ .Title }}</h1>
  <div class="article-metadata">Published: {{ .Params.dateDisplay }}</div>
  {{ if .TableOfContents | findRE "<li>" }}
  <div class="article-toc">
    {{ .TableOfContents }}
  </div>
  {{ end }}
  {{ end }}
  {{ .Content }}
</article>
{{ end }}
