{{ define "header" }}
<header>
  <a href="/">⏎ back home</a>
</header>
{{ end }}

{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ with .Content }}<p>{{ . }}</p>{{ end }}
{{ range .Pages.ByDate.Reverse }}
<div class="post-list-item">
  <span class="post-list-item-title">
    <b><a href="{{ .RelPermalink }}">{{ .Title }}</a></b>
  </span>
  <br>
  <span class="post-list-item-subtitle">
    {{ if eq .Params.postType "reading" }}Reading{{ else if eq .Params.postType "project" }}Project{{ else }}Writing️{{ end }} - {{ .Params.dateDisplay }}
  </span>
</div>
{{ end }}
{{ end }}
