{{ $styles := resources.Get "css/global-styles.css" | fingerprint }}
<link rel="stylesheet" type="text/css" href="{{ $styles.RelPermalink }}">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32-32.png?v=2">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96-96.png?v=2">
<link rel="icon" type="image/png" sizes="180x180" href="/assets/favicon-180-180.png?v=2">
<link rel="apple-touch-icon" href="/assets/favicon-180-180.png?v=2">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
